.title-products {
    padding-top: 1%;
}

article {
    width: 325px;
    
}

.article {
    color: black;
    /* border: solid 1.5px black; */
    margin-bottom: 20px;
    background-color: white;
    box-sizing: border-box;
}

.article:hover {
    box-shadow: 2px 2px 5px;
}

.article img {
    margin-top: 10px;
}

.list-cars {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.list-cars a {
    text-decoration: none;
    color: black;
}

.cargando {
    color: black;
    font-size: 22px;
    min-height: 68vh;
    padding-top: 25vh;
    font-weight: 700;
}




