.box-products {
    background-color: black;
    color: white;
    
}

.sub-box-products {
    min-height: 87.5vh;
}

.title-products {
    padding-top: 1%;
}

.articulo-products {
   width: 325px;
}

.articulo-products {
    color: black;
    margin-bottom: 20px;
    box-sizing: border-box;
    color: white;
    display: grid;
}

.articulo-products:hover {
    box-shadow: 2px 2px 5px;
}

.image-products {
    margin-top: 10px;
    width: 325px;
    height: 180px;
    justify-self: center;
}

.nombre-producto {
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.list-cars {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.list-cars a {
    text-decoration: none;
    color: black;
}

.cargando {
    color: white;
    font-size: 22px;
    padding-top: 25vh;
    font-weight: 700;
}

/* @media (min-width: 425px){
    .articulo-products {
        width: 400px; 
    }
} */


