.box {
    background-color: black;
    min-height: 87.5vh;
    text-align: center;
}

.article-explorar-electricos{
    color: white;
    margin-bottom: 20px;
    background-color: black;
    box-sizing: border-box;
    width: 320px;
    display: grid;
}

.title-explorar-electricos {
    margin-top: -3vh;
   justify-self: center;
}

.image-explorar-electricos {
    width: 320px;
    height: 192px;
    margin-top: 10px;
    background-color: black;
    justify-self: center;
}