h1 {
    text-align: center;
    padding-top: 1vh;
}

.article-product-detail {
    margin-top: 2vh;
    width: 90%;
    text-align: center;
    border: solid 1px;
    box-sizing: border-box;
    margin-bottom: 3vh;
}

article {
    margin: auto;
    padding-top: 2vh;
    
}

.image-product-details {
    width: 85vw;
    margin-bottom: 2vh;
}

.div-footer {
    margin-top: 2vh;
}

.p-name {
    font-size: 20px;
}

/* Con esto logro el posicionamiento del footer en la parte baja */
.div-car-details {
    min-height: 79.5vh;
}

/* **************Media Query**************** */

@media (min-width: 700px) {
    .image-product-details {
        width: 70vw;
    }

    .article-product-detail {
        width: 80%;
    }
}

@media (min-width: 900px) {
    .image-product-details {
        width: 60vw;
    }

    .article-product-detail {
        width: 70%;
    }
}

@media (min-width: 1000px) {
    .image-product-details {
        width: 50vw;
    }

    .article-product-detail {
        width: 60%;
    }
}