
.article-product-detail {
    padding-top: 2vh;
    width: 90%;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 3vh;
    color: white;
}

article {
    margin: auto;
    padding-top: 2vh;
}

.image-product-details {
    width: 320px;
    height: 180px;
    margin-bottom: 2vh;
}


.p-name {
    font-size: 20px;
}

/* Con esto logro el posicionamiento del footer en la parte baja */
.div-car-details {
    min-height: 87.5vh;
    background-color: black;
}

/* .div-footer {
    padding-top: 2vh;
} */

.texto-product-detail {
    margin-left: 20px;
    color: white;
    margin-bottom: 0;
}

/* **************Media Query**************** */

@media (min-width: 700px) {
    .image-product-details {
        width: 480px;
        height: 270px;
    }

    .article-product-detail {
        width: 80%;
    }
}

@media (min-width: 900px) {
    .image-product-details {
        width: 640px;
        height: 360px;
    }

    .article-product-detail {
        width: 70%;
    }
}

@media (min-width: 1000px) {
   /*  .image-product-details {
        width: 50vw;
    } */

    .article-product-detail {
        width: 60%;
    }
}