.title-home {
    margin-top: 1vh;
    margin-bottom: -1vh;
}

/* Ancho y posicionamiento del componente Carousel */
.carousel {
    width: 100%;
    margin-bottom: 20px;
    /* border: solid 1px black; */
    /* margin-top: 2vh; */
}

.carousel img {
    max-height: 100vh;
}
 
p {
    margin-left: 2.5vw;
    margin-right: 2.5vw;

}

.sobre-titulo {
    color: white;
}

/* Con esto logro el posicionamiento del footer en la parte baja */
.div-body-home {
    min-height: 82vh;
}

.imagen-fondo-home {
    width: 100%;
    max-height: 93vh;
}

.box-home {
    text-align: center;
}


/* **************Media Query**************** */
/* 
@media (min-width: 700px) {
    .carousel {
        width: 75%;
    }
}

@media (min-width: 1000px) {
    .carousel {
        width: 65%;
    }
}

@media (min-width: 1200px) {
    .carousel {
        width: 63%;
    }
}
 */
