* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

.box-home {
    background-color: black;
}

.imagen-fondo-home1 {
    width: 100%;
}

.box-promo-electrico {
    background-color: rgb(179, 130, 130);
}

.container-promo-electric {
    position: relative;
}

.parrafo-promo {
    margin-bottom: 3px;
    margin-left: 3vw;
    margin-right: 3vw;
}

.titulo-promo {
    /* font-family: Roboto, sans-serif; */
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0px;
    text-align: center;
}

.box-buttons {
    width: 100%;
    height: 25%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.button-explorar {
    width: 170px;
    height: 25px;
    background-color: rgb(119, 119, 208); 
    margin: auto;
    text-align: center;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 10px;
    
}

.button-explorar:hover {
    box-shadow: 2px 2px 5px;
}

.button-explorar a {
    text-decoration: none;
    color: white !important;
}

.imagen-fondo-home2 {
    width: 100%;
}

.box-promo-leyend {
    background-color: rgb(179, 130, 130);
   /*  background-color: rgb(137, 207, 231); */
}

.filosofia-diseño {
    /* background-color: black; */
    color: white;
    padding-top: 3vh;
}

.filosofia-diseño-título {
    font-size: 28px;
    
    margin-left: 3vw;
    margin-right: 3vw;
}

.filosofia-diseño-párrafo1 {
    font-size: 18px;
    margin-left: 3vw;
    margin-right: 3vw;
}

.filosofia-diseño-párrafo2 {
    font-size: 18px;
    margin-left: 3vw;
    margin-right: 3vw;
}

.contenedor-imagen-filosofía-diseño {
    width: 100%;
    text-align: center;
}

.imagen-filosofía-diseño {
    width: 94%;
}

/* **************Media Query**************** */

@media (min-width: 768px) {
    .box-promo-electrico {
        width: 40%;
        background-color: rgba(179, 130, 130, 0.5);
        position: absolute;
        top: 5vh;
        left: 5vw;
    }

    .imagen-fondo-home1 {
        margin-top: 0%;
    }

    .box-promo-leyend {
        width: 40%;
        /* background-color: rgba(137, 207, 231, 0.6); */
        background-color: rgba(179, 130, 130, 0.6);
        position: absolute;
        top: 5vh;
        left: 5vw;
    }

    .imagen-fondo-home2 {
        margin-top: 0%;
    }



    .filosofia-diseño {
       display: flex;
       flex-wrap: wrap;
       flex-direction: row;
    }

    .filosofía-diseño-texto {
        width: 50%;
        display: grid;
    }

    .box-texto-filosofía-diseño {
        margin-bottom: 0;
        justify-self: center;
        align-self:flex-end;
    }

    .filosofia-diseño-párrafo1 {
       margin-bottom: 0vh;
    }

    .contenedor-imagen-filosofía-diseño {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    .box-promo-electrico {
        top: 25vh;
    }

    .box-promo-leyend {
        top: 25vh;
    }
} 




