.div-box-contact {
    background-color: rgb(241, 235, 235);
   min-height: 83vh;
}

.titulo-contact {
    padding-top: 1%;
    padding-bottom: 2vh;
}

.div-box-contact i {
    font-size: 18px;
}

.box-p-icon {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}








 