.sidebar {
    position: absolute;
    background-color: rgb(123, 86, 86);
    background-color: rgb(111, 89, 89);
    text-align:left;
    padding-top: 20%;
    top: 0;
    right: 0;
    width: 50vw;
    height: 100vh;
    color: white;
    z-index: 1;
    padding-left: 15px;
  } 

  .sidebar a {
      text-decoration: none;
  }
  
  .close-sidebar {
    color: white;
    font-size: 18px;
    position: absolute;
    margin-top:-30%;
  }
  
  .component-sidebar {
    margin-bottom: 15%;
  }
  
  .sidebar {
    display: none;
  }